@model MaynoothFlorist.WebUI.ViewModels.ItemListViewModel

@{
    ViewBag.Title = "Index";
    var iconsort = (ViewBag.sortOderValue);
}

<h2>Index</h2>

<div class="container">
    <style>
        li {
            display: inline-block;
            float: none;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <div class="row">
        <ul>

            @foreach (var item in Model.Items)
            {
                <li>

                    <a href="#myModal" data-toggle="modal" data-img-url="@Url.Content("~/Images/")@Html.DisplayFor(modelItem => item.FlowerImageUrl)" onclick="GetItem('@item.FlowerName','@item.FlowerPrice','@item.FlowerDescription')">
                        <div>
                            <img src="@Url.Content("~/Images/")@Html.DisplayFor(modelItem => item.FlowerImageUrl)" alt="Product Image" class="img-thumbnail img-rounded" width="160" height="179" />
                            <br />
                            @Html.DisplayFor(modelItem => item.FlowerName)
                            <br />
                            <h4>
                                €  @Html.DisplayFor(modelItem => item.FlowerPrice)
                            </h4>
                        </div>

                    </a>
                </li>
            }
        </ul>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">

                <ul>
                    <li>
                        <div>

                            <img alt="Product Image" class="img-thumbnail img-rounded" width="300" height="179" />

                            <br />
                            <h4>
                                €   <input type="text" id="itemPrice" />
                            </h4>
                            <br />
                            <h4>
                                <input type="text" name="itemDescription" id="itemDescription" />
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        function GetItem(name, price, description) {

            console.log(name + price + description);

            //alert(name + price);

            //imageUrl.toString();

            //$('#myModal').modal('show');

            $('h4.modal-title').text(name);
            $(".modal-body #itemName").val(name);
            $(".modal-body #itemPrice").val(price);

            //$(".modal-body #itemImageUrl").val(imageUrl);

            $(".modal-body #itemDescription").val(description);


        }

        $('li a').click(function (e) {
            $('#myModal img').attr('src', $(this).attr('data-img-url'));

        });

    </script>
}
